################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataCore.App/DataCore.App/bin/Debug/netcoreapp2.1
